<div [dir]="'dir' | translate">
  <mat-nav-list>
  <div class="logo py-4">
  <!-- Collapsed -->
  <img
    *ngIf="!isExpanded"
    src="assets/img/app-logo.png"
    class="logo-icon"
    alt="Logo"
  />

  <!-- Expanded -->
  <img
    *ngIf="isExpanded"
    src="assets/img/app-name.png"
    class="logo-full"
    alt="App Name"
  />
</div>

    <mat-divider></mat-divider>

    <div *ngFor="let item of menu">
  <a
   *ngIf="canShow(item)"
    mat-list-item
    routerLinkActive="list-item-active"
    [routerLink]="item.link"
  >
  <mat-icon>{{ item.icon }}</mat-icon>
      {{ item.label | translate }}
  </a>
</div>
    
   
  </mat-nav-list>
</div>

<!-- Language Switcher -->
<div class="lang-switcher" [class.collapsed]="!isExpanded">
  <mat-form-field appearance="outline">
    <mat-select
    [value]="currentLang"
      (selectionChange)="switchLang($event.value)"
      panelClass="lang-panel"
    >
      <mat-option value="en">
        <span *ngIf="isExpanded">English</span>
      </mat-option>
      <mat-option value="fr">
        <span *ngIf="isExpanded">Français</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>


