<header class="app-header">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

  <!-- Left: Sidebar toggle -->
  <button class="menu-btn" (click)="toggleSidebar()">
    <i class="icon bx bx-menu"></i>
  </button>

  <!-- Center: Empty spacer -->
  <div class="header-spacer"></div>

  <!-- Right: Notification + Profile Dropdown -->
  <div class="header-actions">

    <!-- Notifications -->
    <div class="notif-wrapper">
      <button class="icon-btn" (click)="toggleNotifications()">
        <i class="icon bx bx-bell"></i>
        <span class="badge">{{ simpleUsersNumber }}</span>
      </button>

      <!-- Dropdown -->
      <div class="notif-box" [class.open]="notificationsOpen">
        <h3>Notifications</h3>

        <div class="notif-list">
          <div class="notif-item" *ngFor="let user of users">
            <img src="assets/img/avatar.png" alt="user" />
            <div class="notif-text">
              <h4>{{ user.fullName }}</h4>
              <p>{{ user.email }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Profile Dropdown -->
    <div class="profile-wrapper">

      <button class="profile-btn" (click)="profileOpen = !profileOpen">
        <img
          *ngIf="imageTest"
          class="avatar"
          [src]="imageSource"
          alt="User"
        />
        <img
          *ngIf="!imageTest"
          class="avatar"
          src="assets/img/user.jpg"
          alt="User"
        />
        <span>{{ userName }}</span>
        <i class="icon bx bx-chevron-down"></i>
      </button>

      <!-- Dropdown -->
      <ul class="profile-dropdown" [class.open]="profileOpen">
        <li >
          <i class="icon bx bx-cog" [routerLink]="['/user/profile']">Account Settings</i> 
        </li>
        <li >
          <i class="icon bx bx-log-out"> Logout</i> 
        </li>
      </ul>
    </div>

  </div>
</header>
