<div class="list-page">

  <div class="list-header">
    <h1>Tasks</h1>
    <button mat-raised-button color="primary" routerLink="/tasks/new">
      <mat-icon>add</mat-icon>
      New Task
    </button>
  </div>

  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <mat-table [dataSource]="tasks" class="mat-elevation-z2">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let t">{{ t.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="priority">
      <mat-header-cell *matHeaderCellDef>Priority</mat-header-cell>
      <mat-cell *matCellDef="let t">
        <mat-chip
          [color]="priorityColor(t.priority)"
          selected>
          {{ t.priority }}
        </mat-chip>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let t">{{ t.status }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="project">
      <mat-header-cell *matHeaderCellDef>Project</mat-header-cell>
      <mat-cell *matCellDef="let t">{{ t.project?.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let t">
        <button
          mat-icon-button
          color="primary"
          [routerLink]="['/tasks', t.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="delete(t.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns"></mat-row>

  </mat-table>

  <mat-paginator
    [length]="totalElements"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPage($event)">
  </mat-paginator>

</div>